body {
    background: #DDDDDD;
}

.navbar {
    background-color: #535353;
    color: white;
}

.rosered {
    color: #800000 !important;
}

.navbar-text {
    font-size: 32px;
}

.page-container {
    margin-top: 75px;
}

.dropdown-menu-right {
    position: absolute;
    left: -128px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: #fff;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

.no-outline {
    border: none;
    background-color: #d9d9d9;
}

/* #fab:active{
    transform: translateY(2px);
    opacity: 0.8;
} */


.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icon-medium {
    font-size: 32px;
}

#roseLogo {
    max-width: 350px;
    margin: auto;
    display: block;
}

#roseFireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#aboutPage {
    padding: 20px;
    margin-top: 100px;
    border-top: 2px solid #800000;
    text-align: center;
}

#aboutPage h2 {
    font-size: 40px;
    font-family: 'Jockey One', sans-serif;
    color: #800000;
}

#aboutPage p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #535353;
}

.list-group-item:hover {
    cursor: pointer;
}

.upcoming-rides-container,
.requested-rides-container,
.your-rides-container{
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.upcoming-rides-container h2,
.requested-rides-container h2,
.your-rides-container h2{
    font-family: 'Jockey One', sans-serif;
    font-size: 24px;
    color: #800000;
    margin-bottom: 20px;
}

#driverTitle {
    margin: 100px 20px 20px 20px;
    color: #800000;
}

#riderTitle {
    margin: 100px 20px 20px 20px;
    color: #800000;
}

#accountTitle {
    margin: 100px 20px 20px 20px;
    color: #800000;
}

.ride-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 4px solid #800000;
    border-right: 4px solid #800000;
}

.ride-info {
    display: flex;
    flex-direction: column;
}

.ride-destination {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333;
}

.ride-date {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #666;
}

.details-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #535353;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #444;
}
  
.floating-label-group {
    position: relative;
    margin-bottom: 20px;
}

.floating-label-group label {
    position: absolute;
    top: 10px !important;
    /* left: 10px; */
    font-size: 100%;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease-out;
}

.floating-label-group input:placeholder-shown~label {
    font-size: 100%;
    top: 10px;
    /* left: 12px; */
    color: #999;
}

.floating-label-group input:not(:placeholder-shown)~label,
.floating-label-group input:focus~label {
    font-size: 70%;
    top: -20px;
    left: 8px;
    color: #007bff;
}

.floating-label-group input:disabled~label {
    color: #aaa;
}

.account-profile {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 100px 0;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #535353;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  .profile-name {
    font-family: 'Jockey One', sans-serif;
    font-size: 24px;
    color: #535353;
  }
  
  .section-title {
    font-family: 'Jockey One', sans-serif;
    font-size: 18px;
    color: #535353;
    margin: 20px 0 10px;
  }
  
  .booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #e6e6e6;
    border: 2px solid #535353;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .ride-info {
    display: flex;
    flex-direction: column;
  }
  
  .destination {
    font-family: 'Jockey One', sans-serif;
    font-size: 18px;
    color: #800000;
  }
  
  .date-time {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #535353;
  }
  
  .details-button {
    background: #535353;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }

.card {
    margin: 10px 0px;
}

#ridePage .card-title,
#ridePage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

#ridePage .card-title {
    font-size: 45px;
    font-weight: bold;
}
#requestPage .card-title {
    font-size: 45px;
    font-weight: bold;
}
#yourRidePage .card-title {
    font-size: 45px;
    font-weight: bold;
}

#ridePage .card-subtitle {
    font-weight: normal;
    font-size: 35px;
}

#requestPage .card-subtitle {
    font-weight: normal;
    font-size: 35px;
}

#yourRidePage .card-subtitle {
    font-weight: normal;
    font-size: 35px;
}

#cancelBookingButton {
    margin: 20px;
    font-size: 24px;
    color: white;
    background: #800000;
}

#cancelBookingButton:hover {
    font-size: 24px;
    color: #e0e0e0;
    background: #720000;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#takeRideButton {
    margin: 20px;
    font-size: 24px;
    color: white;
    background: #800000;
}

#takeRideButton:hover {
    font-size: 24px;
    color: #e0e0e0;
    background: #720000;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#cancelRideButton {
    margin: 20px;
    font-size: 24px;
    color: white;
    background: #800000;
}

#cancelRideButton:hover {
    font-size: 24px;
    color: #e0e0e0;
    background: #720000;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#editBookingButton {
    margin: 20px;
    font-size: 24px;
    color: white;
    background: #800000;
}

#editBookingButton:hover {
    font-size: 24px;
    color: #e0e0e0;
    background: #720000;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#fab {
    background-color: #800000;
    bottom: 10px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

#submitAddRide,
#submitSaveRide {
    color: #800000;
    z-index: 1050;
}

#submitEditBooking {
    color: #800000;
    z-index: 1050;
}
