body {
    background: #DDDDDD;
}

.navbar {
    background-color: #535353;
    color: white;
}

.rosered{
    color: #800000 !important;
}

.navbar-text{
    font-size: 32px;
}

.page-container {
    margin-top: 75px;
}

.dropdown-menu-right{
    position: absolute;
    left: -128px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: #fff;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

.no-outline{
    border: none;
    background-color: #d9d9d9;
}

/* #fab:active{
    transform: translateY(2px);
    opacity: 0.8;
} */


.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.icon-medium {
    font-size: 32px;
}

#roseLogo {
    max-width: 350px;
    margin: auto;
    display: block;
}

#roseFireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#aboutPage {    
    padding: 20px;
    margin-top: 100px;
    border-top: 2px solid #800000; 
    text-align: center;
}

#aboutPage h2 {
    font-size: 40px;
    font-family: 'Jockey One', sans-serif;
    color: #800000; 
}

#aboutPage p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #535353;
}



  